@import "./_reset.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 2em 0;

  &__h1 {
    text-align: center;
    font-size: 4em;
    font-weight: 800;
  }

  &__form {
    padding: 1em 0;
    width: 30em;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  &__galeria {
    margin: 2em 3em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    justify-content: center;
    gap: 1em;
    // grid-template-rows: 100%;
  }

  &__paginacion {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
}

.form {

  &__label {
    font-weight: 600;
    font-size: 1.5em;
    text-align: center;
    color: var(--secundario);
  }

  &__input {
    background: var(--blanco);
    padding: 0.5em;
    border-radius: 0.8em;
    width: 100%;
    color: var(--negro);
    border: 1px solid #e1e7ef;
  }

  &__btn {
    font-size: 1.2em;
    padding: 0.8em;
    background: var(--button);
    color: var(--blanco);
    width: 100%;
    border-radius: .8em;
    cursor: pointer;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.35);
    -webkit-border-radius: .8em;
    -moz-border-radius: .8em;
    -ms-border-radius: .8em;
    -o-border-radius: .8em;
    &:hover{
      background: var(--button-hover);
    }
  }
}

.card {
  background: var(--blanco);
  display: flex;
  flex-direction: column;
  gap: 1em;
  border-radius: .8em .8em .95em .95em;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.35);
    -webkit-border-radius: .8em .8em .95em .95em;
    -moz-border-radius: .8em .8em .95em .95em;
    -ms-border-radius: .8em .8em .95em .95em;
    -o-border-radius: .8em .8em .95em .95em;


  &__span {
    font-weight: 600;
  }

  &__p {
    padding: 0 1em;
    white-space: nowrap;
  }

  &__a {
    text-align: center;
    padding: .8em;
    background: var(--button);
    color: var(--blanco);
    width: 100%;
    cursor: pointer;
    font-size: 1.15em;
    border-radius: 0em 0em 0.8em 0.8em;
    -webkit-border-radius: 0em 0em 0.8em 0.8em;
    -moz-border-radius: 0em 0em 0.8em 0.8em;
    -ms-border-radius: 0em 0em 0.8em 0.8em;
    -o-border-radius: 0em 0em 0.8em 0.8em;
    &:hover{
      background: var(--button-hover);
    }
  }

  &__img-wrapper {
    overflow: hidden;
    border-radius: 0.8em 0.8em 0em 0;
    /* opcional: redondear solo arriba */
  }

  &__img {
    object-fit: cover;
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }

}

.grid {
  display: grid;
  // gap: 2em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.viewsDownloads {
  grid-area: 1 / 1 / 2 / 2;
}

.commentsLikes {
  grid-area: 1 / 2 / 2 / 3;
}

.tags {
  grid-area: 2 / 1 / 3 / 3;
  margin: 0em;
}

.siguiente {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
  width: 2.5em;
  height: 2.5em;
  background: var(--button);
  color: var(--blanco);
  border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
}

@media screen and (max-width: 500px) {
  .container {
    &__form {
      width: 85%;
    }
  }
}